In [88]:
import requests
import mysql.connector as conn
from config import aws_db_config

# Params
- wine_type_ids,
    - 1 : red
    - 2 : white
    - 3 : sparkling
    - 4 : Rose
    - 5 : DOESN

In [76]:
params = {
        "currency_code":"USD",
        "min_rating":"1",
        "order_by":"price",
        "order":"asc",
        "page": 1,
        "price_range_max":"500",
        "price_range_min":"0",
        "wine_type_ids[]":"1"
}

In [82]:
json["explore_vintage"]["records_matched"]

49578

In [125]:
wine["style"]["grapes"]

[{'id': 1,
  'name': 'Shiraz/Syrah',
  'seo_name': 'shiraz-syrah',
  'has_detailed_info': True,
  'wines_count': 551112},
 {'id': 2,
  'name': 'Cabernet Sauvignon',
  'seo_name': 'cabernet-sauvignon',
  'has_detailed_info': True,
  'wines_count': 801751},
 {'id': 10,
  'name': 'Merlot',
  'seo_name': 'merlot',
  'has_detailed_info': True,
  'wines_count': 566719},
 {'id': 21,
  'name': 'Zinfandel',
  'seo_name': 'zinfandel',
  'has_detailed_info': True,
  'wines_count': 67990}]

In [ ]:
def get_matches(params):
    response = requests.get("https://www.vivino.com/api/explore/explore", params=params,
        headers= {
            "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:66.0) Gecko/20100101 Firefox/66.0"
        })
    json = response.json()
    
    matches = json["explore_vintage"]["matches"]
    numMatches = json["explore_vintage"]["records_matched"]
    
    return matches, numMatches

In [131]:
def match_to_db(cnx, cursor, match):
    """
    Assumes that the Database "WineData" and table "WineData" already exist with 
    columns (Id, Name, Price, Rating, NumRatings, Type, Year, )
    """
    wine = match["vintage"]["wine"]
    
    Id = match["vintage"]["Id"] #Wine id
    Name = match["vintage"]["Name"] #Wine name
    Price = match["price"]["amount"] #Price of bottle
    Rating = wine['statistics']["ratings_average"] #Wine rating
    NumRatings = wine['statistics']['ratings_count'] #Number of ratings
    Type = wine["type_id"] #Type of wine (Red, White, Rose)
    StyleName = wine["style"]["name"]
    Year = match["vintage"]["year"] #Wine year
    Body = wine['style']['body'] #Body
    Acidity = wine['style']['acidity']
    Vintage = wine["vintage_type"]
    Natural = int(wine["is_natural"])
    Region = wine['region']["name"] #Wine region
    Country = wine['region']["country"]["name"] #Wine country
    Size = match["price"]["bottle_type"]['volume_ml'] #size of bottle
    Winery = wine["winery"]["name"] #Winery
    
    wine['style']['food']
    wine['style']['grapes']
    
    query = (
        f'INSERT INTO WineData (Id,Name,Price,Rating,NumRatings,Type,StyleName,Year,Body,Acidity,Vintage,Natural,Region,Country,Size,Winery,Food,Grapes)'
        f'VALUES ({Id},{Name},{Price},{Rating},{NumRatings},{Type},{StyleName},{Year},{Body},{Acidity},{Vintage},{Natural},{Region},{Country},{Size},{Winery},{Food},{Grapes})'
    )
    cursor.execute(query)
    cnx.commit()

In [ ]:
#Database connection
cnx = conn.connect(**aws_db_config)

In [ ]:
params = {
        "currency_code":"USD",
        "min_rating":"1",
        "order_by":"price",
        "order":"asc",
        "page": 1,
        "price_range_max":"500",
        "price_range_min":"0",
        "wine_type_ids[]":"1"
}

matches = get_matches

for wine_id in [1,2,3,4]:
    matches = get_matches